body {
    background: rgb(47,1,138);
    background: linear-gradient(90deg, rgba(47,1,138,1) 0%, rgba(248,0,255,1) 100%);
}

.container {
    background-color: white;
    width: 50%;
    height: 60%;
    border-radius:20px;
}
#title {
    font-size:300%;
    color: cyan;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
button {
    border-radius: 50px;
}
input {
    background-color: rgba(182, 180, 180, 0.699);
}